<div class="auth-page">
  <div class="auth-container">
    <div class="auth-image">
      <img src="assets/images/login.png" alt="Login" />
    </div>

    <div class="auth-card">
      <div class="logo-container">
        <img src="assets/images/logo.png" alt="Logo" />
      </div>

      <h2 class="auth-title"><i>CulinaryFriend</i></h2>

      <div class="auth-header">
        <p class="auth-text">{{ 'LOGIN.TITLE' | translate }}</p>

        <p class="auth-subtitle">
          {{ 'LOGIN.SUBTITLE' | translate }}
        </p>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="field">
          <app-form-field
            label="AUTH.USERNAME"
            placeholder="AUTH.USERNAME_PLACEHOLDER"
            [control]="userNameControl"
          >
          </app-form-field>

          @if (userNameInvalid) {
            <small class="invalid-text">
              {{ 'VALIDATION.PASSWORD_REQUIRED' | translate }}
            </small>
          }
        </div>

        <div class="field">
          <app-form-field
            label="AUTH.PASSWORD"
            placeholder="AUTH.PASSWORD_PLACEHOLDER"
            type="password"
            [control]="passwordControl"
          >
          </app-form-field>

          @if (passwordInvalid) {
            <small class="invalid-text">
              {{ 'VALIDATION.PASSWORD_REQUIRED' | translate }}
            </small>
          }
        </div>

        <div class="option-container">
          <label class="remember">
            <input type="checkbox" id="remember" />

            {{ 'AUTH.REMEMBER_ME' | translate }}
          </label>

          <p class="forgot">
            {{ 'LOGIN.FORGOT_PASSWORD' | translate }}
          </p>
        </div>

        <button class="btn-submit" type="submit" [disabled]="loginForm.invalid || isLoading">
          {{ isLoading ? ('LOGIN.LOGGING_IN' | translate) : ('LOGIN.LOGIN' | translate) }}
        </button>

        <div class="divider">
          <span class="line"></span>

          <span class="divider-text">
            {{ 'LOGIN.OR_CONTINUE_WITH' | translate }}
          </span>

          <span class="line"></span>
        </div>

        <div class="btn-group">
          <button>{{ 'SOCIAL.FACEBOOK' | translate }}</button>

          <button>{{ 'SOCIAL.GOOGLE' | translate }}</button>
        </div>

        <div class="auth-footer">
          <p>{{ 'LOGIN.NO_ACCOUNT' | translate }}</p>

          <a class="auth-link" routerLink="/register">
            {{ 'LOGIN.REGISTER_NOW' | translate }}
          </a>
        </div>
      </form>

      <p class="message">{{ message }}</p>
    </div>
  </div>
</div>
