<div class="main">
  <h2 class="header">Các bước thực hiện</h2>

  <form [formGroup]="form" class="instruction-form">
    <div formArrayName="instructions" class="instructions-list">
      @for (item of instructions.controls; track item; let i = $index) {
        <div class="instruction-card" [formGroupName]="i">
          <h3 class="step-title">Bước {{ i + 1 }}</h3>

          <textarea class="input-detail" placeholder="Mô tả chi tiết..." formControlName="content">
          </textarea>

          @if (item.get('content')?.invalid && item.get('content')?.touched) {
            <small class="invalid-text"> Vui lòng nhập đầy đủ thông tin </small>
          }

          <button type="button" class="delete-btn" (click)="removeInstruction(i)">Xóa bước</button>
        </div>
      }
    </div>
  </form>

  <button type="button" class="add-btn" (click)="addInstruction()">+ Thêm bước tiếp theo</button>
</div>
