<form [formGroup]="form" class="main">
  <h2 class="header">
    {{ 'BASIC_INFO_STEP.TITLE' | translate }}
  </h2>

  <label class="label" for="recipeName">
    {{ 'BASIC_INFO_STEP.RECIPE_NAME' | translate }}
  </label>

  <input
    type="text"
    formControlName="recipeName"
    id="recipeName"
    [placeholder]="'BASIC_INFO_STEP.RECIPE_NAME_PLACEHOLDER' | translate"
  />

  @if (recipeNameInvalid) {
    <small class="invalid-text">
      {{ 'VALIDATION.RECIPE_NAME_REQUIRED' | translate }}
    </small>
  }

  <label class="label" for="description">
    {{ 'BASIC_INFO_STEP.DESCRIPTION' | translate }}
  </label>

  <textarea
    class="description-input"
    formControlName="description"
    id="description"
    [placeholder]="'BASIC_INFO_STEP.DESCRIPTION_PLACEHOLDER' | translate"
  >
  </textarea>

  @if (descriptionInvalid) {
    <small class="invalid-text">
      {{ 'VALIDATION.DESCRIPTION_REQUIRED' | translate }}
    </small>
  }

  <label class="label" for="recipeImage">
    {{ 'BASIC_INFO_STEP.RECIPE_IMAGE' | translate }}
  </label>

  <input
    class="select-image-input"
    type="file"
    id="recipeImage"
    accept="image/*"
    (change)="onImageSelected($event)"
  />

  <label class="select-image-label" for="recipeImage">
    @if (imagePreview) {
      <div class="image-preview">
        <img [src]="imagePreview" alt="Recipe preview" />
      </div>

      <button class="remove-img-btn" (click)="removeImage()">Remove image</button>
    } @else {
      {{ 'BASIC_INFO_STEP.CHOOSE_IMAGE' | translate }}
    }
  </label>

  @if (imageError) {
    <small class="invalid-text">
      {{ imageError }}
    </small>
  }

  <label class="label" for="categories">
    {{ 'BASIC_INFO_STEP.CATEGORIES' | translate }}
  </label>

  <mat-chip-listbox formControlName="categories" multiple class="categories">
    @for (category of categories; track category) {
      <mat-chip-option [value]="category">
        {{ 'CATEGORIES.' + category | translate }}
      </mat-chip-option>
    }
  </mat-chip-listbox>

  @if (categoriesInvalid) {
    <small class="invalid-text">
      {{ 'VALIDATION.CATEGORIES_REQUIRED' | translate }}
    </small>
  }
</form>
