* {
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;

  gap: 16px;

  width: 100%;

  min-height: 500px;
}

/* ===== HEADER ===== */

.header {
  margin: 0 0 8px;

  font-size: clamp(24px, 3vw, 32px);

  font-weight: 700;

  line-height: 1.25;
}

/* ===== LABEL ===== */

.label {
  font-weight: 500;
  margin: 0;
}

/* ===== INPUT ===== */

input,
textarea {
  width: 100%;

  border: 1px solid var(--border-color);

  border-radius: 8px;

  padding: 12px 14px;

  font-size: 16px;

  font-family: inherit;

  outline: none;

  transition: 0.2s;
}

input {
  height: 46px;
}

textarea {
  min-height: 200px;

  resize: none;
}

/* ===== SELECT IMAGE ===== */

.select-image-input {
  display: none;
}

.select-image-label {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  width: fit-content;

  padding: 16px;

  border: 1px solid var(--border-color);
  border-radius: 8px;

  cursor: pointer;

  font: inherit;

  color: inherit;

  transition: 0.2s;
}

.select-image-label:hover:not(:has(.remove-img-btn:hover)) {
  background-color: color-mix(in srgb, Canvas 90%, currentColor);
}

.image-preview {
  width: 600px;

  aspect-ratio: 5 / 3;
  overflow: hidden;
}

.image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.remove-img-btn {
  padding: 8px;
  margin-top: 16px;

  border-radius: 8px;
  border: 1px solid var(--danger-border);

  color: var(--danger-color);
  background: var(--danger-bg);

  transition: all 0.2s ease;
}

.remove-img-btn:hover {
  cursor: pointer;

  transform: translateY(-2px);
}

/* ===== ERROR ===== */
.invalid-text {
  color: #dc2626;

  margin-top: -8px;

  font-size: 14px;
}
