.filter {
  display: flex;
  gap: 12px;
  margin-top: 48px;
  margin-bottom: 48px;
}

button {
  padding: 8px 16px;
  border: 1px solid #ddd;
  border-radius: 20px;
  background: white;
  cursor: pointer;
  font-size: 16px;
}

button.active {
  background: #154212;
  color: white;
  border-color: #154212;
}
