<form [formGroup]="form" class="main">
  <p class="header">Thông tin cơ bản</p>

  <p class="name">Tên món ăn</p>

  <input type="text" placeholder="Ví dụ: Phở bò" formControlName="recipeName" />

  @if (recipeNameInvalid) {
    <small class="invalid-text"> Vui lòng nhập đầy đủ thông tin </small>
  }

  <p class="description">Mô tả</p>

  <textarea
    class="description-input"
    placeholder="Chia sẻ câu chuyện đằng sau món ăn..."
    formControlName="description"
  ></textarea>

  @if (descriptionInvalid) {
    <small class="invalid-text"> Vui lòng nhập đầy đủ thông tin </small>
  }
</form>
