* {
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;

  gap: 16px;

  width: 100%;

  min-height: 500px;
}

/* ===== HEADER ===== */

.header {
  margin: 0 0 8px;

  font-size: clamp(24px, 3vw, 32px);

  font-weight: 700;

  line-height: 1.25;
}

/* ===== LABEL ===== */

.label {
  font-weight: 500;
  margin: 0;
}

/* ===== INPUT ===== */

input,
textarea {
  width: 100%;

  border: 1px solid var(--border-color);

  border-radius: 8px;

  padding: 12px 14px;

  font-size: 16px;

  font-family: inherit;

  outline: none;

  transition: 0.2s;
}

input {
  height: 46px;
}

textarea {
  min-height: 200px;

  resize: none;
}

/* ===== ERROR ===== */
.invalid-text {
  color: #dc2626;

  margin-top: -8px;

  font-size: 14px;
}
