.main {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 65vh;
}

.header {
  font-size: 24px;
  font-weight: 500;
}

.name {
  margin: 0px;
}

.description {
  margin-bottom: 0px;
}

.description-input {
  height: 130px;
  font: inherit;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  padding: 12px;
  outline: none;
  resize: none;
}

input {
  height: 42px;
  padding: 0 12px;

  border: 1px solid #d1d5db;
  border-radius: 8px;

  font-size: 16px;
  outline: none;
}

input:focus,
textarea:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.15);
}

button {
  padding: 10px;
  cursor: pointer;
  margin: 10px 0px;
}

.place-btn {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}

.btn-next {
  border-radius: 8px;
  border: 1px solid #154212;
  display: flex;
  align-items: center;
  padding: 8px 40px;
  gap: 4px;
  background-color: #154212;
  color: white;
  cursor: pointer;
}
