<form [formGroup]="form" class="main">
  <h2 class="header">Thông tin cơ bản</h2>

  <label class="label"> Tên món ăn </label>

  <input type="text" placeholder="Ví dụ: Phở bò" formControlName="recipeName" />

  @if (recipeNameInvalid) {
    <small class="invalid-text"> Vui lòng nhập đầy đủ thông tin </small>
  }

  <label class="label"> Mô tả </label>

  <textarea
    class="description-input"
    placeholder="Chia sẻ câu chuyện đằng sau món ăn..."
    formControlName="description"
  >
  </textarea>

  @if (descriptionInvalid) {
    <small class="invalid-text"> Vui lòng nhập đầy đủ thông tin </small>
  }
</form>
