<div class="main">
  <div class="header">
    <button (click)="goBack()" class="btn-back">
      <mat-icon>arrow_back</mat-icon>

      <span>
        <p>{{ 'RECIPE_DETAIL.TITLE' | translate }}</p>
      </span>
    </button>
  </div>

  @if (recipe$ | async; as recipe) {
    <div class="recipe">
      <!-- <img class="image" [src]="recipe.image" alt="image" /> -->

      <div class="recipe-name">
        <p>{{ recipe.recipeName }}</p>
      </div>

      <p>{{ recipe.description }}</p>

      <div class="body">
        <div class="recipe-ingredient">
          <p class="label">
            {{ 'RECIPE_DETAIL.INGREDIENTS' | translate }}
          </p>

          @for (ingredient of recipe.ingredients; track $index; let last = $last) {
            <div class="ingredient">
              <p class="name">{{ ingredient.ingredientName }}</p>

              <p class="quantity">
                {{ ingredient.quantity }} {{ 'UNITS.' + ingredient.unit | translate }}
              </p>
            </div>

            @if (!last) {
              <div class="divider">
                <span class="line"></span>
              </div>
            }
          }
        </div>

        <div class="recipe-instruction">
          <p class="label">
            {{ 'RECIPE_DETAIL.INSTRUCTIONS' | translate }}
          </p>

          <div class="recipe-steps">
            @for (step of recipe.instructions; track $index; let last = $last) {
              <div class="step">
                <div class="step-left">
                  <div class="step-number">
                    {{ $index + 1 }}
                  </div>

                  @if (!last) {
                    <div class="step-line"></div>
                  }
                </div>

                <div class="step-content">
                  {{ step.content }}
                </div>
              </div>
            }
          </div>
        </div>
      </div>

      <app-review-list [recipe]="recipe" (reviewAdded)="onReviewAdded()"> </app-review-list>
    </div>

    <div class="btn-group">
      <button class="btn btn-delete" (click)="onDelete(recipe.id)" [disabled]="isDeleting">
        <mat-icon>delete_outline</mat-icon>

        {{ isDeleting ? ('COMMON.DELETING' | translate) : ('COMMON.DELETE' | translate) }}
      </button>

      <button class="btn btn-edit" (click)="onEdit(recipe)">
        <mat-icon>edit</mat-icon>

        {{ 'COMMON.EDIT' | translate }}
      </button>
    </div>
  }
</div>
