<div class="main">
  <div class="header">
    <a (click)="goBack()" class="btn-back">
      <mat-icon>arrow_back</mat-icon>
      <span>Quay lại</span>
    </a>
  </div>

  @if (vm$ | async; as vm) {
    @if (vm.isLoading) {
      <p>Đang tải...</p>
    } @else if (vm.error) {
      <p>Không thể tải công thức.</p>
    } @else if (vm.recipe; as recipe) {
      <div class="recipe-detail">
        <img class="image" [src]="recipe.image" alt="image" />

        <p>Tên: {{ recipe.recipeName }}</p>

        <p>Mô tả: {{ recipe.description }}</p>

        <h3>Nguyên liệu</h3>

        @if (recipe.ingredients.length > 0) {
          <ul>
            @for (ingredient of recipe.ingredients; track $index) {
              <li>
                {{ ingredient.ingredientName }}
                - {{ ingredient.quantity }}
                {{ ingredient.unit }}
              </li>
            }
          </ul>
        } @else {
          <p>Chưa thêm nguyên liệu</p>
        }

        <h3>Các bước nấu</h3>

        @if (recipe.instructions.length > 0) {
          <ol>
            @for (step of recipe.instructions; track $index) {
              <li>{{ step.content }}</li>
            }
          </ol>
        } @else {
          <p>Chưa có bước nấu</p>
        }
      </div>

      <button (click)="onDelete(recipe.id)" [disabled]="isDeleting">
        {{ isDeleting ? 'Đang xóa...' : 'Xóa' }}
      </button>

      <button (click)="onEdit(recipe.id)">Sửa</button>
    }
  }
</div>
