<div class="main">
  <h2 class="header">
    {{ 'INSTRUCTIONS_STEP.TITLE' | translate }}
  </h2>

  <form [formGroup]="form" class="instruction-form">
    <div formArrayName="instructions" class="instructions-list">
      @for (item of instructions.controls; track item; let i = $index) {
        <div class="instruction-card" [formGroupName]="i">
          <h3 class="step-title">{{ 'INSTRUCTIONS_STEP.STEP' | translate }} {{ i + 1 }}</h3>

          <textarea
            class="input-detail"
            formControlName="content"
            [placeholder]="'INSTRUCTIONS_STEP.CONTENT_PLACEHOLDER' | translate"
          >
          </textarea>

          @if (item.get('content')?.invalid && item.get('content')?.touched) {
            <small class="invalid-text">
              {{ 'VALIDATION.REQUIRED_FIELDS' | translate }}
            </small>
          }

          <button type="button" class="delete-btn" (click)="removeInstruction(i)">
            {{ 'COMMON.DELETE' | translate }}
          </button>
        </div>
      }
    </div>
  </form>

  <button type="button" class="add-btn" (click)="addInstruction()">
    {{ 'INSTRUCTIONS_STEP.ADD' | translate }}
  </button>
</div>
