<div class="main">
  <h2 class="header">
    {{ 'INGREDIENTS_STEP.TITLE' | translate }}
  </h2>

  <form [formGroup]="form" class="ingredient-form">
    <div formArrayName="ingredients" class="ingredients-list">
      @for (item of ingredients.controls; track item; let i = $index) {
        <div class="ingredient-row" [formGroupName]="i">
          <input
            class="ingredient-name"
            type="text"
            formControlName="ingredientName"
            [placeholder]="'INGREDIENTS_STEP.INGREDIENT_NAME_PLACEHOLDER' | translate"
          />

          <input
            class="ingredient-quantity"
            type="text"
            formControlName="quantity"
            [placeholder]="'INGREDIENTS_STEP.QUANTITY_PLACEHOLDER' | translate"
          />

          <select class="ingredient-unit" formControlName="unit">
            <option value="gram">
              {{ 'INGREDIENTS_STEP.GRAM' | translate }}
            </option>

            <option value="kg">
              {{ 'INGREDIENTS_STEP.KG' | translate }}
            </option>

            <option value="ml">
              {{ 'INGREDIENTS_STEP.ML' | translate }}
            </option>

            <option value="liter">
              {{ 'INGREDIENTS_STEP.LITER' | translate }}
            </option>

            <option value="quả">
              {{ 'INGREDIENTS_STEP.PIECE' | translate }}
            </option>
          </select>

          <button type="button" class="delete-btn" (click)="removeIngredient(i)">
            {{ 'INGREDIENTS_STEP.DELETE' | translate }}
          </button>

          @if (
            (item.get('ingredientName')?.invalid && item.get('ingredientName')?.touched) ||
            (item.get('quantity')?.invalid && item.get('quantity')?.touched)
          ) {
            <small class="invalid-text">
              {{ 'INGREDIENTS_STEP.REQUIRED' | translate }}
            </small>
          }
        </div>
      }
    </div>
  </form>

  <button type="button" class="add-btn" (click)="addIngredient()">
    {{ 'INGREDIENTS_STEP.ADD' | translate }}
  </button>
</div>
