<div class="main">
  <h2 class="header">Thông tin nguyên liệu</h2>

  <form [formGroup]="form" class="ingredient-form">
    <div formArrayName="ingredients" class="ingredients-list">
      @for (item of ingredients.controls; track item; let i = $index) {
        <div class="ingredient-row" [formGroupName]="i">
          <input
            class="ingredient-name"
            type="text"
            placeholder="Tên nguyên liệu"
            formControlName="ingredientName"
          />

          <input
            class="ingredient-quantity"
            type="text"
            placeholder="Số lượng"
            formControlName="quantity"
          />

          <select class="ingredient-unit" formControlName="unit">
            <option value="gram">gram</option>
            <option value="kg">kg</option>
            <option value="ml">ml</option>
            <option value="liter">lít</option>
            <option value="quả">quả</option>
          </select>

          <button type="button" class="delete-btn" (click)="removeIngredient(i)">Xóa</button>

          @if (
            (item.get('ingredientName')?.invalid && item.get('ingredientName')?.touched) ||
            (item.get('quantity')?.invalid && item.get('quantity')?.touched)
          ) {
            <small class="invalid-text"> Vui lòng nhập đầy đủ thông tin </small>
          }
        </div>
      }
    </div>
  </form>

  <button type="button" class="add-btn" (click)="addIngredient()">+ Thêm nguyên liệu</button>
</div>
