.filter {
  display: flex;

  gap: 12px;

  margin-top: 24px;
  margin-bottom: 48px;
}

button {
  padding: 8px 16px;

  border: 1px solid var(--category-button-bg-color);
  border-radius: 20px;

  background: var(--category-button-bg-color);
  color: var(--text-color);

  cursor: pointer;

  font-size: 16px;
}

button.active {
  background: var(--category-button-active-bg-color);
  color: white;
  border-color: var(--category-button-active-bg-color);
}
