@use '../../auth';

.auth-title {
  font-size: 30px;
}

.terms {
  display: flex;
  align-items: flex-start;
  gap: 4px;

  padding-bottom: 12px;

  font-size: 14px;
  line-height: 1.5;
}

.terms input {
  cursor: pointer;
}

.terms a {
  text-decoration: none;

  color: black;

  font-weight: 500;
}

.terms strong {
  font-weight: 500;
}

@media (max-width: 480px) {
  .terms {
    font-size: 13px;
  }

  .auth-title {
    font-size: 24px;
  }
}
