<div class="auth-page">
  <div class="auth-container">
    <div class="auth-image">
      <img src="images/login.png" alt="Register" />
    </div>

    <div class="auth-card">
      <div class="auth-header">
        <h1 class="auth-title">Tạo tài khoản mới</h1>

        <p class="auth-subtitle">Bắt đầu hành trình khám phá ẩm thực của bạn ngày hôm nay</p>
      </div>

      <div class="btn-group">
        <button type="button">Google</button>

        <button type="button">Facebook</button>
      </div>

      <div class="divider">
        <span class="line"></span>

        <span class="divider-text"> Hoặc đăng ký bằng User </span>

        <span class="line"></span>
      </div>

      <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <div class="form-group">
          <label for="userName">Username</label>

          <input
            type="email"
            formControlName="userName"
            placeholder="Enter username"
            id="userName"
          />

          @if (userNameInvalid) {
            <small class="invalid-text"> Vui lòng nhập đầy đủ thông tin </small>
          }
        </div>

        <div class="form-group">
          <label for="password">Password</label>

          <input
            type="password"
            formControlName="password"
            placeholder="Enter password"
            id="password"
          />

          @if (passwordInvalid) {
            <small class="invalid-text"> Password bắt buộc </small>
          }
        </div>

        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>

          <input
            type="password"
            formControlName="confirmPassword"
            placeholder="Confirm password"
            id="confirmPassword"
          />

          <small class="invalid-text" [class.show]="confirmPasswordInvalid || passwordMismatch">
            @if (confirmPasswordInvalid) {
              Vui lòng nhập lại mật khẩu
            } @else if (passwordMismatch) {
              Mật khẩu nhập lại không khớp
            }
          </small>
        </div>

        <div class="option-container">
          <div class="terms">
            <input id="terms" type="checkbox" />

            <div class="terms-text">
              Tôi đồng ý với

              <a href="#"> Điều khoản dịch vụ </a>

              và

              <a href="#"> Chính sách bảo mật </a>
            </div>
          </div>
        </div>

        <button class="btn-submit" type="submit" [disabled]="registerForm.invalid || isLoading">
          {{ isLoading ? 'Đang đăng ký...' : 'Register' }}
        </button>

        <div class="auth-footer">
          <p>Đã có tài khoản?</p>

          <a class="auth-link" routerLink="/login"> Đăng nhập ngay </a>
        </div>
      </form>

      <p class="message">{{ message }}</p>
    </div>
  </div>
</div>
