.main {
  font-size: 16px;
  padding: 25px 250px;
  background-color: #efeeeb;
}

.header .btn-back {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.place-btn {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}

.btn-next {
  border-radius: 8px;
  border: 1px solid #154212;
  display: flex;
  align-items: center;
  padding: 8px 40px;
  gap: 4px;
  background-color: #154212;
  color: white;
  cursor: pointer;
}

.btn-submit {
  margin: 5px;
}

.header p {
  font-size: 32px;
}
