<div class="main">
  <div class="header">
    <div>
      <p class="header-text">Công thức của tôi</p>

      <p class="header-subText">
        Quản lý và tổ chức kho tàng ẩm thực cá nhân của bạn. Mổi món ăn là một câu chuyện.
      </p>
    </div>

    <button class="add-btn">Thêm công thức mới</button>
  </div>

  <app-category-filter
    [categories]="categories"
    [selectedCategory]="selectedCategory"
    (categoryChange)="onCategoryChange($event)"
  >
  </app-category-filter>

  <div class="recipe-container">
    @if (vm$ | async; as vm) {
      @if (vm.isLoading) {
        <p>Loading...</p>
      } @else {
        @for (recipe of vm.recipes; track recipe.id) {
          <p class="recipe-card">{{ recipe.recipeName }}</p>
        } @empty {
          <p>Không có recipe nào.</p>
        }
      }
    }
  </div>
</div>
