.main {
  margin: 48px;
  font-size: 16px;
}

.header {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.header-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header-text .main-text {
  font-size: 48px;
  color: #154212;
  margin: 0px;
  font-weight: bold;
}

.header-text .sub-text {
  color: #42493e;
  font-size: 16px;
}

.header .add-btn {
  font-size: 16px;
  padding: 16px 32px;
  margin-left: 200px;
  border-radius: 12px;
  border: 1px solid #154212;
  background-color: #154212;
  color: white;
  cursor: pointer;
}

.filter {
  margin-top: 20px;
  display: flex;
  gap: 12px;
}

.filter button {
  border-radius: 20px;
  padding: 5px 15px;
}

.recipe-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.recipe-card {
  background-color: grey;
  border-radius: 20px;
  padding: 15px;
  margin-right: 20px;
}
