* {
  box-sizing: border-box;
}

.main {
  padding: 48px;
  min-height: 100vh;

  font-size: 16px;

  background: var(--bg-color);
}

/* ================= HEADER ================= */

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  gap: 24px;
  margin-bottom: 24px;
}

.header-text {
  flex: 1;
}

.main-text {
  margin: 0;

  font-size: 48px;
  color: var(--text-color);
  font-weight: bold;

  line-height: 1.15;
}

.sub-text {
  margin-top: 12px;

  color: var(--subtext-color);

  line-height: 1.5;
}

.add-btn {
  padding: 14px 28px;

  border-radius: 12px;
  border: 1px solid var(--category-button-active-bg-color);

  background: var(--category-button-active-bg-color);
  color: white;

  cursor: pointer;

  font-size: 16px;
  white-space: nowrap;
  transition: 0.25s;
}

.add-btn:hover {
  transform: translateY(-2px);
}

/* ================= SEARCH ================= */

.search {
  width: 100%;
  max-width: 600px;

  padding: 14px 18px;
  margin-bottom: 20px;

  border-radius: 12px;
  border: none;
}

.search:focus {
  outline: none;
}

.search::placeholder {
  color: var(--subtext-color);
}

/* ================= CARD GRID ================= */

.recipe-container {
  margin-top: 24px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));

  gap: 28px;
}

/* ================= PAGINATION ================= */
.pagination {
  display: flex;
  justify-content: end;
  align-items: center;

  gap: 12px;

  margin-top: 40px;
}

.pagination .btn {
  display: flex;
  align-items: center;

  gap: 8px;
}

.pagination button {
  padding: 0px 12px;

  border-radius: 8px;
  border: none;

  background: var(--container-color);
  color: var(--text-color);

  cursor: pointer;

  font-size: 16px;
}

/* ================= LARGE TABLET ================= */

@media (max-width: 1024px) {
  .main {
    padding: 28px;
  }

  .main-text {
    font-size: 40px;
  }

  .recipe-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ================= TABLET ================= */

@media (max-width: 768px) {
  .main {
    padding: 20px;
  }

  .header {
    flex-direction: column;
    align-items: stretch;
  }

  .main-text {
    font-size: 34px;
  }

  .sub-text {
    margin-bottom: 0;
  }

  .add-btn {
    width: 100%;
  }

  .search {
    max-width: 100%;
  }

  .recipe-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .name {
    font-size: 20px;
  }
}

/* ================= MOBILE ================= */

@media (max-width: 576px) {
  .main {
    padding: 16px;
  }

  .main-text {
    font-size: 28px;
  }

  .sub-text {
    font-size: 14px;
  }

  .recipe-container {
    grid-template-columns: 1fr;
  }

  .recipe-card {
    width: 100%;
  }

  .name {
    font-size: 18px;
  }

  .detail {
    text-align: left;
    margin-top: 20px;
  }
}
