<div class="main">
  <div class="header">
    <div class="header-text">
      <p class="main-text">Công thức của tôi</p>

      <p class="sub-text">
        Quản lý và tổ chức kho tàng ẩm thực cá nhân của bạn. Mỗi món ăn là một câu chuyện.
      </p>
    </div>

    <button class="add-btn" (click)="onCreate()">Thêm công thức mới</button>
  </div>

  <input
    class="search"
    type="text"
    placeholder="Tìm công thức..."
    [value]="search"
    (input)="onSearch($event)"
  />

  <app-category-filter
    [categories]="categories"
    [selectedCategory]="category"
    (categoryChange)="onCategoryChange($event)"
  >
  </app-category-filter>

  <div class="recipe-container">
    @if (vm$ | async; as vm) {
      @if (vm.isLoading) {
        <p>Loading...</p>
      } @else {
        @for (recipe of vm.recipes; track recipe.id) {
          <app-recipe-card
            [recipe]="recipe"
            [isFavorite]="isFavorite(recipe.id)"
            (favoriteToggled)="toggleFavorite($event)"
          ></app-recipe-card>
        } @empty {
          <p>Không có recipe nào.</p>
        }
      }
    }
  </div>

  <!-- Pagination -->
  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1">← Trước</button>

    <span>Trang {{ currentPage }}</span>

    <button (click)="nextPage()">Tiếp →</button>
  </div>
</div>
