<div class="main">
  <div class="web-name">
    <p>CulinaryFriend</p>
  </div>

  <div class="user">
    <p class="name">Chef Kyra</p>

    <p class="level">Level 5 Home Cook</p>
  </div>

  <div class="page-route">
    <a routerLink="/my-recipes" routerLinkActive="active-route" class="nav-button">
      <mat-icon>restaurant</mat-icon>
      <span>My Recipes</span>
    </a>

    <a routerLink="/cooking-activity" routerLinkActive="active-route" class="nav-button"
      ><mat-icon>bar_chart</mat-icon>
      <span>Cooking Activity</span>
    </a>

    <a routerLink="/meal-planner" routerLinkActive="active-route" class="nav-button"
      ><mat-icon>calendar_month</mat-icon>
      <span>Meal Planner</span>
    </a>

    <a routerLink="/account-settings" routerLinkActive="active-route" class="nav-button"
      ><mat-icon>settings</mat-icon>
      <span>Account Settings</span>
    </a>
  </div>

  <div class="footer">
    <a class="nav-button">
      <mat-icon>help_outline</mat-icon>
      <span>Help & Support</span>
    </a>

    <a class="nav-button" (click)="logout()" routerLink="/login">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </a>
  </div>
</div>
