<div class="main">
  <div class="web-name">
    <p>CulinaryFriend</p>
  </div>

  <div class="user-profile">
    <p class="user-name">Chef Kyra</p>

    <p class="user-level">Level 5 Home Cook</p>
  </div>

  <div class="page-route">
    <a routerLink="/my-recipes" routerLinkActive="active-route" class="nav-button"> My Recipes </a>

    <a routerLink="/cooking-activity" routerLinkActive="active-route" class="nav-button"
      >Cooking Activity</a
    >

    <a routerLink="/meal-planner" routerLinkActive="active-route" class="nav-button"
      >Meal Planner</a
    >

    <a routerLink="/account-settings" routerLinkActive="active-route" class="nav-button"
      >Account Settings</a
    >
  </div>

  <div class="footer">
    <p>Help & Support</p>

    <a routerLink="/login">Logout</a>
  </div>
</div>
