<div class="main">
  <div class="header">
    <h2 class="text">Hãy cùng nhìn lại nhé!</h2>

    <p class="sub-text">
      Công thức của bạn đã sẳn sàng được lưu vào thư viện cá nhân để nấu ăn hoặc chia sẻ với cộng
      đồng
    </p>
  </div>

  <div class="recipe">
    <div class="recipe-name">
      <p class="label">TÊN MÓN ĂN</p>

      <p class="name">{{ recipe.recipeName }}</p>
    </div>

    <div class="divider">
      <span class="line"></span>
    </div>

    <div class="recipe-description">
      <p class="label">MÔ TẢ</p>

      <p class="description">{{ recipe.description }}</p>
    </div>

    <div class="divider">
      <span class="line"></span>
    </div>

    <div class="recipe-ingredient">
      <p class="label">DANH SÁCH NGUYÊN LIỆU</p>

      @for (ingredient of recipe.ingredients; track $index) {
        <div class="ingredient">
          <p>{{ ingredient.ingredientName }}</p>

          <p class="quantity">{{ ingredient.quantity }} {{ ingredient.unit }}</p>
        </div>
      }
    </div>

    <div class="divider">
      <span class="line"></span>
    </div>

    <div class="recipe-instruction">
      <p class="label">CÁC BƯỚC THỰC HIỆN</p>

      @for (instruction of recipe.instructions; track $index) {
        <div class="instruction">
          <p class="step">{{ $index + 1 }}.</p>

          <p>{{ instruction.content }}</p>
        </div>
      }
    </div>
  </div>
</div>
