<div class="main">
  <div class="header">
    <h2 class="title">
      {{ 'REVIEW_STEP.TITLE' | translate }}
    </h2>

    <p class="sub-text">
      {{ 'REVIEW_STEP.DESCRIPTION' | translate }}
    </p>
  </div>

  <div class="recipe">
    <section>
      <p class="label">
        {{ 'REVIEW_STEP.RECIPE_NAME' | translate }}
      </p>

      <h3 class="recipe-name">
        {{ recipe().recipeName }}
      </h3>
    </section>

    <div class="divider"></div>

    <section>
      <p class="label">
        {{ 'REVIEW_STEP.RECIPE_DESCRIPTION' | translate }}
      </p>

      <p class="description">
        {{ recipe().description }}
      </p>
    </section>

    <div class="divider"></div>

    <section>
      <p class="label">
        {{ 'REVIEW_STEP.INGREDIENTS' | translate }}
      </p>

      @for (ingredient of recipe().ingredients; track $index) {
        <div class="ingredient">
          <span>
            {{ ingredient.ingredientName }}
          </span>

          <span class="quantity">
            {{ ingredient.quantity }} {{ 'UNITS.' + ingredient.unit | translate }}
          </span>
        </div>
      }
    </section>

    <div class="divider"></div>

    <section>
      <p class="label">
        {{ 'REVIEW_STEP.INSTRUCTIONS' | translate }}
      </p>

      @for (instruction of recipe().instructions; track $index) {
        <div class="instruction">
          <div class="step-number">
            {{ $index + 1 }}
          </div>

          <div class="step-content">
            {{ instruction.content }}
          </div>
        </div>
      }
    </section>
  </div>
</div>
